


.about-photo {
    width: 60vh;
    border: 10px solid #d7d7d7;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#aboutTitle {
    font-family: 'Raleway', sans-serif; font-size: 50px; font-weight: 200;
    text-align: center;
 
    color: #fff;
}

.bioText {
    margin-top: 10px;
   
    color: rgb(255, 255, 255);
    
    text-align: center;
    font-family: 'Raleway', sans-serif; font-size: 2rem; font-weight: 100;
}

.bio {
    text-align: center;
    padding: 2px;
    width: 80%;
    letter-spacing: 1.3;
    margin: auto;
    color: #fff;
    
}

#biolo {
    flex-wrap: wrap;
    justify-content: center;

    letter-spacing: 2px;
color: #fff;

    font-weight: 100px !important;

}

#abtitle {
    font-size: 2.5rem;
    font-weight: 150;
}

#bt {
    font-size: 1rem;
    font-weight: 150;
}

#about {
    flex-wrap: wrap;
    padding: 5%;
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #887676;
    border-radius: 5px;
}

#pio {
    flex-wrap: wrap;
    align-content: center;
}

h4 {
    font-weight: normal;
    letter-spacing: 4px;
}