


.about-photo {
    width: 60vh;
    border: 10px solid rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.bioText {
    margin-top: 10px;
   
    color: rgb(207, 206, 206);
    
    text-align: center;
    font-family: 'Raleway', sans-serif; font-size: 2rem; font-weight: 300;
}

.bio {
    text-align: center;
    padding: 2%;
    width: 90%;
    letter-spacing: 1.4;
    margin: auto;
    color: rgb(238, 232, 232);
    
}

#biolo {
    flex-wrap: wrap;
    justify-content: center;

    letter-spacing: 2px;
color: rgb(245, 245, 245);


}

#abtitle {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 3px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-shadow: 0 1.36px 0.896px #c1bbb3,0 3px 1px rgb(47, 37, 37);
    text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: 'Playfair Display', sans-serif !important;
}

#bt {
    font-size: 1rem;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 1) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 3px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-shadow: 0 1.36px 0.896px #c1bbb3,0 3px 1px rgb(47, 37, 37);
    text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

#about {
    flex-wrap: wrap;
    padding: 5%;
    margin-top: 4%;
    margin-right: 7%;
    margin-left: 7%;
    background-color: #887676;
    border-radius: 5px;
    
}

#pio {
    flex-wrap: wrap;
    align-content: center;
}

h4 {
    font-weight: normal;
    letter-spacing: 4px;
    
}


@media only screen and (max-width: 600px) {
#bt p {
    font-size: .80rem;
   
}

}

