#ima {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    margin: 25px;
    border: 10px solid rgb(33, 31, 31);
   border-style: inset;

}

.wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#mas {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 3.5%;
    padding: 5%;
    background-color: rgb(255, 255, 255);

}

img {
    flex-wrap: wrap;
    justify-content: center;
    border: 6px solid rgb(43, 42, 42);
 
}