#ima {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    margin: 15px;
    border: 10px solid rgb(222, 213, 213);
   border-style: inset;

}

.wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#mas {
    flex-wrap: wrap;
    justify-content: center;

    margin: 3.5%;

    padding: 4%;
    background-color: rgb(255, 255, 255);
 

}



#ima {

        top: 0%;
        transform:
    
        rotateY(-20deg)
        rotateX(2deg);
        perspective: (-800px);
      transition: transform .75s ease 0s;
   
    
    }
    
      #ima:hover {
        transform:rotateY(0deg) rotateX(0deg)
        scale(1.02);
    }




 


