html, body {
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.photo-list {
  width: 100%;
  list-style: none;
  margin: 20px auto;
}

.photo-item {
  display: flex;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
  margin: 20px 0;
}

.photo-item img {
  display: flex;
  width: 100%;
  border: 4px double rgba(0, 0, 0, .12);
}

@media only screen and (max-width: 600px) {
  body { 
    flex-wrap: wrap;

    justify-content: center;
  }

}