#mason {
    
    transform:
    
        rotateY(-10deg)
        rotateX(0deg);
 

}

#category h2 {
    font-family: 'Railway', sans-serif;
    font-weight:500;
    padding-top: 7%;
    text-align: center;
    font-size: 17px;
}

#category a {
    font-weight: 500;
}